*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.clr{
    clear: both;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

/*=====================top bar=====================*/


#top-bar{
    background-color: #0f2f44;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999;
    
}

.top-main{
    position: relative;
}

.top-text{
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-text h3{
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.top-text h4{
    position: absolute;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    top: 40%;
    right: 0;
    
}

/*=====================nav bar parts goes here =====================*/

.nav-main{
    display: flex;
}

.nav{
    background-color: #fff;
    position: fixed;
    width: 100%;
    top:57px;
    left: 0;
    z-index: 999999;
}
.logo{
    width: 20%;
}

.logo img{
    padding-top: 25px;
    
}

.bg{
    background-color: darkcyan;
  
}

.menu{
    width: 70%;
    text-align: right;
}

.menu ul li{
    display: inline-block;
    padding-bottom: 10px; 
}

.menu ul li a{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #222222;
    font-weight: 700;
    line-height: 80px;
    padding: 20px 20px;
    transition: all linear .3s;
}

.menu ul li:hover{
    background-color: #fff9e6;
    
   
}

.menu ul li a:hover{
    color: #ffe287;
    
}



.icon{
    width: 10%;
    position: absolute;
    top:100px;
    right: 7%;
    text-align: center;
    
}

.icon a i{
    width: 30px;
    height: 30px;
    border: 1px solid #dddada;
    border-radius: 50%;
    color: #999999;
   line-height: 30px;
   margin-right: 10px;
   font-size: 15px;
}

/*=====================Banner parts goes here =====================*/

#banner{
    background: url(../images/Bizzency-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.banner-text{
    width: 50%;
    text-align: left;
    position: relative;
    padding-top: 142px;
    
}

.banner-text a{
    background-color: #8484bf;
    color: #fff;
    padding: 15px 20px ;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.banner-text h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: #0f2f44;
    font-weight: 300;
    line-height: 1;
}

.banner-text h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
    color: #0f2f44;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
}

.banner-text h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    color: #8484bf;
    font-weight: 400;
    letter-spacing: 10px;
    line-height: 1;
    padding-bottom: 30px;
}

.banner-text p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #444444;
    font-weight: 400;
    line-height: 24px;
    padding: 0 90px 0 0;
    padding-bottom: 45px;
}

.btn a{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #0f2f44;
    border-radius: 50px 50px 50px 50px;
    background-color: #fff;
    top:92%;
    left: 170px;
    
}

/*=====================About us parts goes here =====================*/

#about{
    padding-top: 150px;
    padding-bottom: 100px;
}

.about-us{
    display: flex;
    justify-content: space-between;
}

.about-text{
    width: 50%;
}

.about-img{
    width: 50%;
}

.about-text h6{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #0f2f44;
    font-weight: 300;

}


.about-text h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    color: #0f2f44;
    font-weight: 700;
    padding-bottom: 32px;
}

.about-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #0f2f44;
    font-weight: 400;
    line-height: 24px;

}


.about-btm{
    padding-top: 30px;
    padding-left: 30px;
}

.about-btm ul li{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #0f2f44;
    font-weight: 400;
    line-height: 44px;
    
}

.about-btn{
    margin-top: 50px;
    
}

.about-btn ul li{
    display: inline-block;
    
}

.about-btn ul li a{
    background-color: #ffc712;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #0f2f44;
    padding: 16px 20px;
    font-weight: 600;
    border-radius: 10px 10px 10px 10px;
}


.about-btn ul li h3 a{
    margin-left: 18px;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}


/*=====================Our Skills parts goes here =====================*/

#skill{
    padding-bottom: 50px;
}


.skill-main{
    display: flex;
    justify-content: space-between;
}

.skill-left{
    width: 50%;
}


.skill-right{
    width: 50%;
    
}

.skill-text{
    text-align: right;
}

.skill-text h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #0f2f44;
    font-weight: 300;
   margin-top: -50px;
}

.skill-text h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: #0f2f44;
    font-weight: 700;
}

.skill-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #0f2f44;
    font-weight: 400;
    line-height: 24px;
    padding: 0 5px;
    padding-bottom: -50px;
}

.skill-bar{
   padding-top: 60px;
   padding-left: 50px;
   position: relative;
   
  
}

.skill-bar h3{
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #0f2f44;
    font-weight: 600;
    
}

.skill-bar h4{
    display: inline-block;
    padding-left: 55%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #0f2f44;
    font-weight: 600;
    
}

.bar{
    position: absolute;
      width: 70%;
    height: 10px;
    background-color: #2a4896;
    border-radius: 10px;
   
   }

   .bar-two{
    position: absolute;
      width: 70%;
    height: 10px;
    background-color: #5d3b15;
    border-radius: 10px;
   
   }

   .bar-three{
    position: absolute;
      width: 70%;
    height: 10px;
    background-color: #344a1f;
    border-radius: 10px;
   
   }
   .bar-four{
    position: absolute;
      width: 70%;
    height: 10px;
    background-color: #615480;
    border-radius: 10px;
   
   }


   .icon-bar{
       position: absolute;
       top: -60px;
       right: -400px;
       width: 100%;
       height: 100%;
        padding: 10px 0 ;
      
   }


   /*=====================Our Services parts goes here =====================*/
 
   #service{
       padding-top: 200px;
       padding-bottom: 80px;
       background-color: #f5f5f5;
   }

   .ser-head{
       text-align: center;
   }

   .ser-head h5{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #0f2f44;
    font-weight: 300;
   }

   .ser-head h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: #0f2f44;
    font-weight: 700;
    padding-bottom: 56px;
   }

   .our-ser-main{
       display: flex;
       justify-content: space-between;
   }

 .ser-left{
        width: 370px;
       display: flex;
       

   }

   .ser-logo{
       width: 100px;
       transition: all linear .3s;
      
   }

   .ser-logo img{
       padding-top: 62px;
       padding-left: 20px;
       padding-bottom: 62px;
       
   }

   .ser-logo:hover{
       background-color: #e9e9e9;
       border-radius: 5px;
   }

   .ser-text{
       width:270px;
       transition: all linear .3s;
   }

   .ser-text:hover{
    background-color: #eeeeee;
    border-radius: 5px;
   }

   .our-ser-mid{
       width: 370px;
       transition: all linear .3s;
       text-align: center;
       position: relative;
   }

   .mid-logo{
       position: absolute;
       width: 62px;
       top: 30px;
       left: 50%;
       transform: translateX(-50%);
      
   }

   .mid-text{
       position: absolute;
        width: 200px;
        top:70px;
      left: -64px;
      
   }

   .mid-text h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
   
   }

   .circle-round{
       position: absolute;
       width: 40px;
       height: 40px;
       background-color: #ffc712;
       border-radius: 50%;
       top: 135px;
       left: 15px;
   }

   .circle-round a i{
       padding-top: 12px;
       color: #0f2f44;
   }


   .our-ser-mid:hover{
      background-color: #0f2f44;
      border-radius: 5px;
   }


 .our-ser-right{
     width: 370px;
 }

 .ser-text h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #0f2f44;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
 }
 .ser-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #444444;
    font-weight: 400;
    line-height: 24px;
    padding: 0 20px 0 20px;

 }




    /*=====================Portfolio parts goes here =====================*/

    #portfolio{
       padding-top: 25px;
       padding-bottom: 25px;
       
    }


    #portfolio .ser-head h5{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #0f2f44;
   
     }

     #portfolio .ser-head h1{
        font-family: 'Abril Fatface', cursive;
        font-size: 32px;
        color: #0f2f44;
        font-weight: 700;
        padding-top: 50px;
        
     }

     .port-main{
         display: flex;
         justify-content: space-between;
     }

     .port-item{
         width: 350px;
        position: relative;
        transition: all linear .3s;
         }
    
.port-item:hover{
    box-shadow: 0 16px 16px rgba(0,0,0,0.12);
}
      
.item-3{
    width: 315px;
    height: 42px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
}
   

    .port-icon {
        position: absolute;
        font-size: 12px;
       width: 50px;
       height: 50px;
       border-radius: 50%;
       background-color: #fff;
       top: 50%;
       left: -25px;
       text-align: center;
       padding-top: 20px;
       transition: all linear .3s;
    }

   .port-icon:hover{
       background-color: #ffc712;

   }

    .port-icon-right {
        position: absolute;
        font-size: 12px;
       width: 50px;
       height: 50px;
       border-radius: 50%;
       background-color: #fff;
       top: 50%;
       right:-25px;
       text-align: center;
       padding-top: 20px;
       transition: all linear .3s;
    }

    .port-icon-right:hover{
        background-color: #ffc712;
    }

.girl-illus{
    position: absolute;
    width: 100%;
    height: 82px;
    background-color: #fff;
    text-align: center;
    top: 80%;
    left: 0;
}

.girl-illus h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #0f2f44;
    font-weight: 400;
    padding-top: 30px;
}

.port-btn{
    text-align: center;
    padding-top: 77px;
}

.port-btn a{
    padding: 20px 20px;
    background-color: #ffc712;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #0f2f44;
    font-weight: 600;
}



        /*=====================testimonial parts goes here =====================*/


       #testimonial{
           background-color: #f5f5f5;
           padding-top: 60px;
           padding-bottom: 60px;
       }

       #testimonial .port-text h1{
           padding-bottom: 40px;
       }

       #testimonial .port-text p{
        padding-bottom: 5px;
       }

       .our-test-main{
           display: flex;
           
       }

       .our-test-item{
           width: 50%;
           display: flex;
           position: relative;
           
       }

       .test-img{
           width: 218px;
          
       }

       .test-text{
        width: 350px;
        text-align: left;
        line-height: 1;
    }

    .test-text:hover{
        background-color: #e9e9e9;
    }

    .test-text p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        color: #0f2f44;
        font-weight: 400;
        padding: 0 20px;
        line-height: 24px;
        padding-top: 30px;

    }

    .test-text h2{
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        color: #0f2f44;
        font-weight: 600;
        padding: 10px 20px;
    }

    .test-text h5{
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        color: #0f2f44;
        font-weight: 300;
        padding: 4px 20px 5px;
        line-height: 1;
    }

    .circle-test{
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
        transition: all linear .3s;
        padding-left: 10px;
        
    }

    .circle-test:hover{
        background-color: #ffc712;

    }

    .circle-test a i{
        font-size: 24px;
        padding-top: 12px;
        top: 5px;
        left:-30px;
       color: #0f2f44;
    }

    .circle-test-right{
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: all linear .3s;
        padding-left: 20px;
    }

    .circle-test-right:hover{
        background-color: #ffc712;
    }

    .circle-test-right a i{
        font-size: 24px;
        padding-top: 12px;
        top: 5px;
        left: -20px;
       color: #0f2f44;
    }
   
    /*=====================Blogs parts goes here =====================*/

    #blogs{
        padding-top: 105px;
        padding-bottom: 0px;
       
    }

    .blogs-main{
        display: flex;
        justify-content: space-between;
    }


.blogs-item{
    width: 350px;
    position: relative;
    padding: 20px;
    transition: all linear .3s;
}

.blogs-item:hover{
    background-color: #0f2f44;
    
}

.blogs-text p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #777777;
    font-weight: 300;
    padding-top: 30px;
    transition: all linear .3s;
}
    

.blogs-text h2{
    font-family: 'Ubuntu', sans-serif;
    font-size:20px;
    color: #222222;
    font-weight: 600;
    padding-top: 20px;
    transition: all linear .3s;
}

.blogs-text h6{
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size:16px;
    color: #777777;
    font-weight: 600;
    padding-top: 20px;
    transition: all linear .3s;
    
}

.blogs-text h5 {
   display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    color: #777777;
    margin-left:5px;
    transition: all linear .3s;
}


.blogs-icon-left{
    text-align: center;
    
}
.blogs-icon-left a i{
    position: absolute;
    top: 50%;
    left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    padding-top: 20px;
    padding-right: 5px;
    transition: all linear .3s;

}

.blogs-icon-right a i{
    position: absolute;
    top: 50%;
    right: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    padding-top: 20px;
    padding-left: 20px;
    transition: all linear .3s;

}

.blogs-icon-right a i:hover{
    background-color: #ffc712;
}


.blogs-icon-left a i:hover{
    background-color: #ffc712;
}

.blogs-text p:hover{
  color: #fff;
}

.blogs-text h2:hover{
    color: #fff;
  }

  .blogs-text h5:hover{
    color: #fff;
  }

  .blogs-text h6:hover{
    color: #fff;
  }
   
   /*=====================footer parts goes here =====================*/

  #footer{
      padding-top: 50px;
      padding-bottom: 66px;
      background-color: #f5f5f5;
      position: relative;
      -webkit-box-shadow: 5px 5px 15px 5px #00000020; 
   box-shadow: 5px 5px 15px 5px #00000020;
  }

  .port-btn{
      padding-bottom: 100px;
  }

  .footer-main{
      display: flex;
      justify-content: space-between;
      
  }

  .top-btn i{
      position: absolute;
      width: 70px;
      height: 70px;
      background-color: #ffc712;
      line-height: 70px;
      border-radius: 50%;
      text-align: center;
      font-size: 20px;
      color: #fff;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
  }

  .footer-left{
      width: 275px;
  }
  .footer-left img{
      padding-bottom: 25px;
  }

  .footer-left p{
    font-family: 'Ubuntu', sans-serif;
    font-size:14px;
    color: #777777;
    font-weight: 400;
    line-height: 24px;
      
  }

  .footer-social a i{
      width: 40px;
      height: 40px;
      line-height: 40px;
     border: 1px solid #274457;
     color: #274457;
     font-size: 20px;
     border-radius: 50%;
     text-align: center;
     margin-right: 10px;
     font-weight: 400;
     transition: all linear .3s;
    
  }

  .footer-social a i:hover{
      background-color: #274457;
      color: #fff;
  }
  

  .footer-mid{
      width: 270px;
      
  }

  .footer-mid h4{
      padding-bottom: 40px;
      font-family: 'Ubuntu', sans-serif;
      font-size:20px;
       color: #222222;
       font-weight: 600;
  }

  .mid-main{
      display: flex;
      padding-bottom: 25px;
  }

  .mid-main h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #777777;
    font-weight: 400;
  }

  .mid-main i{
   margin-right: 20px;
    font-size: 20px;
    color: #777777;
   line-height: 45px;
  }

.mid-last h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #777777;
    font-weight: 400;
    line-height: 0;
    padding-bottom: 25px;
    margin-top: 10px;
}

.mid-last h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #777777;
    font-weight: 400;
    line-height: 0;
}

.mid-line{
    line-height: 25px;
}

  .footer-middle{
      width: 152px;
  }

  .footer-middle h4{
    font-family: 'Ubuntu', sans-serif;
    font-size:20px;
     color: #222222;
     font-weight: 600;
     padding-bottom: 30px;

  }
  .footer-middle ul li{
      line-height: 40px;
  }

  .footer-middle ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #444444;
    font-weight: 600;
    transition: all linear .2s;
}

.footer-middle ul li a:hover{
   padding-left: 20px;
    color: #0f2f44;
}

  .footer-right{
      width: 375px;
      
  }

  .footer-right h4{
    font-family: 'Ubuntu', sans-serif;
    font-size:20px;
     color: #222222;
     font-weight: 600;
     padding-bottom: 30px;
  }

  .footer-social{
      padding-top: 32px;
  }

  .footer-right-item{
      display: flex;
       justify-content: space-between;
  }

  .footer-right-item-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 15px;
  }

  /*=====================Copy right parts goes here =====================*/

.copyright{
text-align: center;
line-height: 50px;
}

.copyright h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #444444;
    font-weight: 600;
    display: inline-block;
}


.copyright h6{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffc712;
    font-weight: 600;
    padding: 0 5px;
}

.copyright h3{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffc712;
    font-weight: 600;
}

/*===========Back to top =========*/

.back-to-top{
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    z-index: 99999;
}

.back-to-top  i{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    
}

.preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #85C1E9;
    z-index: 9999999999999;
}



.loader{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
}
.loader .round{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px dashed #333;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    animation: rotate-first 4s infinite ease-in-out;
}
.loader .round:nth-of-type(2){
    width: 80%;
    height: 80%;
    animation: rotate-second 4s infinite ease-in-out;
}
.loader .round:nth-of-type(3){
    width: 60%;
    height: 60%;
    animation: rotate-third 4s infinite ease-in-out;
}
@keyframes rotate-first{
    0%{
        border-color: #EA2027;
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100%{
        border-color: #009432;
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}
@keyframes rotate-second{
    0%{
        border-color: #009432;
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100%{
        border-color: #0652DD;
        transform: translateX(-50%) translateY(-50%) rotate(-360deg);
    }
}
@keyframes rotate-third{
    0%{
        border-color: #0652DD;
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100%{
        border-color: #EA2027;
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}